.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: auto;
  display: flex;
  position: relative;
}

@media screen and (max-width: 768px) {
  .app {
    /* height: auto; */
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 600px) {
  .app {
    padding: 1.2rem;
  }
}
